.sq-red{
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://yt3.googleusercontent.com/y4J_Fs5ksRlxx6_LzT1VKxVqH_T8Vyn_RN_YYgLJhuMzBS5qxTgm7NlEcMkQd3hgCpfWtYcEUg=s900-c-k-c0x00ffffff-no-rj");
}

.sq-yellow{
  width: 200px;
  height: 200px;
  background-image: url("https://miro.medium.com/v2/resize:fit:1400/1*x0d41ns8PTQZz4a3VbMrBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
button{
  cursor: pointer;
}

img{
  width: 200px;
}
